@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-primary: #D72638;
  --color-primary-dark: #BA1122;
  --color-secondary: #F4B400;
  --color-secondary-dark: #E0A602;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-nunito: "Nunito", sans-serif;
}

body {
  background: var(--background);
  color: black;
}